<%= render '/layouts/admin_navigation' %>

<h1>All locations</h1>

<% @locations.each do |location| %>
  <dl class="card">
    <dt><%= link_to location.user.name, admin_user_path(location.user) %></dt>
    <dd><b>Address</b> <%= location.address %></dd>
    <dd><b>City</b> <%= location.city %></dd>
    <dd><b>State</b> <%= location.state %></dd>
    <dd><b>Zip</b> <%= location.zip %></dd>
    <dd><b>Latitude</b> <%= location.latitude %></dd>
    <dd><b>Longitude</b> <%= location.longitude %></dd>
    <dd>
      <%= link_to 'Show', admin_location_path(location) %>
      <%= link_to 'Edit', edit_admin_location_path(location) %>
      <%= link_to 'Destroy', admin_location_path(location), method: :delete, data: { confirm: 'Are you sure?' } %>
    </dd>
  </dl>
<% end %>

<%= link_to 'New Location', new_admin_location_path %>