<p id="notice"><%= notice %></p>

<div class="docket">
  <p>
    <b>Noise:</b>
    <%= @origin.noise.id %>
  </p>

  <p>
    <b>Latitude:</b>
    <%= @origin.latitude %>
  </p>

  <p>
    <b>Longitude:</b>
    <%= @origin.longitude %>
  </p>
</div>

<div class="docket">
  <%= link_to 'Edit', [:admin, @noise, @origin] %>
</div>