<div class="row">
  <div class="docket">
    <h1>
      Search
    </h1>
  </div>  
</div>

<div class="row">
  <div class="docket">
    <%= render 'form' %>
  </div>  
</div>

<% @noises.each do |noise| %>
  <%= render '/noises/card', :noise => noise %>
  <%= render :partial => 'admin/noises/card_addendum', :locals => {:noise => noise} %>
  <%= render :partial => 'admin/origins/card_addendum', :locals => {:noise => noise} %>
<% end %>
<% if params[:q].present? && @noises.empty? %>
  <div class="card">
    <h2>Looked and looked, but nothing could be found.</h2>
    <p>
      Sorry about this, looks like there's nothing going on in the vicinity.  
      Why not try see if anything going on in one of these areas?
    </p>

    <%= render '/neighborhoods/list' %>
  </div>
<% end %>