<div id="map-origin-<%= origin.id %>"
  data-cartography-map 
  data-cartography-map-bounds="<%= JSON(origin.map.boundaries) %>"
  data-cartography-map-zoom="<%= origin.map.zoom %>"
  data-cartography-map-scrollWheelZoom=false
  >
  <div data-cartography-map-marker
    data-cartography-map-marker-latitude="<%= origin.latitude %>" 
    data-cartography-map-marker-longitude="<%= origin.longitude %>"
    data-cartography-map-marker-awesome-icon="circle"
    data-cartography-map-marker-awesome-markerColor="blue"
  >
  </div>
  <div data-cartography-map-panel id="map-panel-origin-<%= origin.id %>">
  </div>
</div>