<div class="docket">
  <%= render '/shared/search_form' %>
</div>
<div class="docket">
  <%= link_to noises_path(:latitude => request_lat_lng.latitude, :longitude => request_lat_lng.longitude), :class => "geolocatable", :data => { :geolocatable => nil, :"geolocatable-state" => "here" }, :title => "See nearby", :disabled => :disabled do %>
    <span>
      See what's nearby
    </span>
  <% end %>
</div>

<% if @origins.each do |origin| %>
  <% unless origin.noise.nil? %>
    <%= render 'noises/card', :noise => origin.noise %>
    <%= render 'admin/noises/card_addendum', :noise => origin.noise %>
    <%= render 'admin/noises/actionable_card_addendum', :noise => origin.noise %>
  <% end %>
<% end.empty? %>
  <p>Couldn't find anything</p>
<% end %>
