<% title @user.name %>

<div class="row">
  <div class="page-heading">
    <h1>
      <%= yield :title %>
    </h1>
  </div>
</div>

<% @noises.each do |noise| %>
  <%= render 'noises/card', :noise => noise %>
  <%= render 'admin/noises/card_addendum', :noise => noise %>
  <%= render 'admin/noises/actionable_card_addendum', :noise => noise %>
  <%= render 'admin/origins/card_addendum', :noise => noise %>  
<% end %>