<div class="noise card media">
  <% if noise.avatar_image_url %>
    <%= link_to noise.user, class: "avatar pull-left", title: noise.user_name do %>
      <%= image_tag noise.avatar_image_url, alt: noise.user_name, class: "media-object avatar-image", size: '48x48' %>
    <% end %>
  <% end %>

  <div class="media-body">
    <h1 class="media-heading">
      <%= link_to noise.text, noise %>
    </h1>
    <p class="muted">
      <%= link_to noise.user_name, noise.user, class: "muted" %>
      |
      <%= link_to noise.provider_url, class: "muted provider", target: "_blank" do %>
        <%= time_ago_in_words(noise.created_at) %> ago
        <i class="provider-<%= noise.provider.downcase %>"></i>
      <% end %>
    </p>
  </div>
</div>