<div class="noise card media" id="noise-<%= noise.id %>" data-blocklink data-blocklink-href="<%= noise_url noise %>">
  <% if noise.avatar_image_url.present? %>
    <%= link_to noise.user, class: "avatar pull-left", title: noise.user_name do %>
      <%= image_tag noise.avatar_image_url, alt: noise.user_name, class: "media-object avatar-image", size: '48x48' %>
    <% end %>
  <% end %>

  <div class="media-body">
    <h1 class="media-heading">
      <%= auto_link noise.text, html: { target: '_blank' } %>
    </h1>
    <p class="muted">
      <%= link_to noise.user_name, noise.user, class: "muted" %>
      |
      <%= link_to noise.provider_url, class: "muted provider", target: "_blank" do %>
        <%= time_ago_in_words(noise.created_at) %> ago
        <i class="provider-<%= noise.provider.downcase %>"></i>
      <% end %>
    </p>
  </div>
</div>

<% noise.media_urls.each do |media_url| %>
  <div class="card docket">
    <p>
      <%= link_to media_url, class: "thumbnail" do %>
        <%= image_tag media_url %>
      <% end %>
    </p>
  </div>
<% end %>
