<div class="noise card media">
  <% if noise.avatar_image_url %>
    <%= link_to noise.user_provider_url, class: "avatar pull-left", target: "_blank", title: noise.user_name do %>
      <%= image_tag noise.avatar_image_url, alt: noise.user_name, class: "media-object avatar-image", size: '48x48' %>
    <% end %>
  <% end %>

  <div class="media-body">
    <h5 class="media-heading">
      <%= link_to noise.text, noise.provider_url, target: "_blank" %>
    </h5>
    <p>
      by <%= link_to noise.user_name, noise.user_provider_url, target: "_blank" %>
      at <%= link_to time_ago_in_words(noise.created_at) + ' ago', noise %>
    </p>
  </div>
</div>