<div class="noise card media" 
  <% if noise.has_coordinates? %>
    data-mappable
    data-mappable-latitude="<%= noise.latitude %>" 
    data-mappable-longitude="<%= noise.longitude %>"
    data-mappable-name="<%= noise.user_name %>"
    data-mappable-details="<%= noise.text %>"
  <% end %>   
>
  <% if noise.avatar_image_url %>
    <%= link_to noise.user_provider_url, class: "avatar pull-left", target: "_blank", title: noise.user_name do %>
      <%= image_tag noise.avatar_image_url, alt: noise.user_name, class: "avatar-image", size: '48x48' %>
    <% end %>
  <% end %>

  <div class="media-body">
    <h5 class="media-heading">
      <%= link_to noise.text, noise.provider_url, target: "_blank" %>
    </h5>
    <p>
      by <%= link_to noise.user_name, noise.user_provider_url, target: "_blank" %>
      <% if current_user_is_admin? %>
        (<%= link_to 'admin', admin_user_path(noise.user) %>)
      <% end %>
      at <%= link_to time_ago_in_words(noise.created_at) + ' ago', noise %>
      <% if current_user_is_admin? && noise.has_coordinates? %>
        (
        <%= noise.latitude %>,
        <%= noise.longitude %>
        )
      <% end %>
    </p>
  </div>
</div>

<% if current_user_is_admin? %>
  <div class="card-addendum"> 
    <p>
      <%= link_to 'Edit', edit_noise_path(noise) %> 
      <%= link_to 'Destroy', noise, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
<% end %>