<div id="explore-map"
  data-cartography-exploremap
  data-cartography-map-bounds="<%= JSON(@map.boundaries) %>"
  data-cartography-map-center="<%= JSON(request_latlng.to_a) %>"
  data-cartography-map-zoom="<%= @map.zoom %>"
  >

  <% @noises.each do |user_id, noises| %>
    <% noises.first.origins.each do |origin| %>
      <div data-cartography-map-marker
        data-cartography-map-marker-latitude="<%= origin.latitude %>" 
        data-cartography-map-marker-longitude="<%= origin.longitude %>"
        data-cartography-map-marker-scrollto="noise-<%= noises.first.id %>"
      >
      </div>
    <% end %>
  <% end %>

  <div data-cartography-map-attribution>
    Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors
    <%= render '/shared/geolocatable' %>
  </div>

  <div data-cartography-map-panel id="explore-map-panel">
  </div>

</div>