<div id="exploration-map"
  data-cartography-explorationmap
  data-cartography-map-bounds="<%= JSON(@map.boundaries) %>"
  data-cartography-map-center="<%= JSON(request_latlng.to_a) %>"
  data-cartography-map-zoom="<%= @map.zoom %>"
  data-cartography-map-scrollWheelZoom=false
  data-cartography-map-zoomControl=false
  >

  <div data-cartography-map-panel id="exploration-map-panel" class="expanded fixed">
  </div>

  <% if last_known_latlng.present? %>
    <div data-cartography-map-marker
      data-cartography-map-marker-latitude="<%= last_known_latlng.latitude %>"
      data-cartography-map-marker-longitude="<%= last_known_latlng.longitude %>"
      data-cartography-map-marker-track=true
      data-cartography-map-marker-awesome-icon="user"
      data-cartography-map-marker-awesome-markerColor="cadetblue"
    >
      <p>
        This is you!
      </p>
    </div>
  <% end %>

  <% @noises.each do |user_id, noises| %>
    <% noises.first.origins.each do |origin| %>
      <div data-cartography-map-marker
        data-cartography-map-marker-latitude="<%= origin.latitude %>"
        data-cartography-map-marker-longitude="<%= origin.longitude %>"
        data-cartography-map-marker-awesome-icon="circle"
        data-cartography-map-marker-awesome-markerColor="blue"
      >
        <%= render 'explore_marker', :noise => noises.first %>
      </div>
    <% end %>
  <% end %>

  <div data-cartography-map-attribution>
    Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors
  </div>

</div>