<% if @noises.each do |user_id, noises| %>
  <%= render 'card', :noise => noises.first %>
  <%= render :partial => 'admin/noises/card_addendum', :locals => {:noise => noises.first} %>
  <%= render :partial => 'admin/origins/card_addendum', :locals => {:noise => noises.first} %>
  
  <% if noises.count > 1 %>
    <%= link_to noises.first, class: 'card-addendum' do %> 
      +<%= noises.count - 1 %> more
    <% end %>
  <% end %>

<% end.empty? %>
  <div class="docket">
    <p>Couldn't find anything</p>
  </div>
<% end %>