<% if noise.lat_lngs? %>
  <%# Make not procedural %>
  <% noise.map.add_lat_lngs(request_lat_lng) if request_lat_lng.present? %>

  <div id="map-noise-<%= noise.id %>"
    data-cartography-map
    data-cartography-map-bounds="<%= JSON(noise.map.bounding_box) %>"
    data-cartography-map-boxZoom=false
    data-cartography-map-center="<%= JSON(noise.map.center) %>"
    data-cartography-map-doubleClickZoom=false
    data-cartography-map-dragging=false
    data-cartography-map-scrollWheelZoom=false
    data-cartography-map-touchZoom=false
    data-cartography-map-zoomControl=false
    >

    <div data-cartography-map-panel id="map-panel-noise-<%= noise.id %>">
    </div>

    <% if request_lat_lng.present? %>
      <div data-cartography-map-marker
        data-cartography-map-marker-latitude="<%= request_lat_lng.latitude %>"
        data-cartography-map-marker-longitude="<%= request_lat_lng.longitude %>"
        data-cartography-map-marker-track=true
        data-cartography-map-marker-awesome-icon="user"
        data-cartography-map-marker-awesome-markerColor="cadetblue"
        data-cartography-map-marker-awesome-markerColor-extraClasses="hidden"
      >
        <p>
          This is you!
        </p>
      </div>
    <% end %>

    <% noise.origins.each do |origin| %>
      <div data-cartography-map-marker
        data-cartography-map-marker-latitude="<%= origin.latitude %>"
        data-cartography-map-marker-longitude="<%= origin.longitude %>"
        data-cartography-map-marker-clickable=false
        data-cartography-map-marker-awesome-icon="circle"
        data-cartography-map-marker-awesome-markerColor="blue"
      >
      </div>
    <% end %>

  </div>
<% end %>
