<% if noise.has_coordinates? %>
  <%# TODO: set location for map %>
  <div id="map-noise-<%= noise.id %>"
    data-cartography-map 
    data-cartography-map-bounds="<%= JSON(noise.map.boundaries) %>"
    data-cartography-map-center="<%= JSON(noise.map.center) %>"
    data-cartography-map-zoom="<%= noise.map.zoom %>"
    >

    <% noise.origins.each do |origin| %>
      <div data-cartography-map-marker
        data-cartography-map-marker-latitude="<%= origin.latitude %>" 
        data-cartography-map-marker-longitude="<%= origin.longitude %>"
        data-cartography-map-marker-clickable=false
      >
      </div>
    <% end %>

    <div data-cartography-map-panel id="map-panel-noise-<%= noise.id %>">
    </div>

  </div>
<% end %>