<h1>All noises</h1>

<dl>
  <% @noises.each do |noise| %>
    <dt><%= link_to noise.text, noise.provider_url, target: "_blank" %></dt>
    <dd>by <%= link_to noise.user_name, noise.user_provider_url, target: "_blank" %> at <%= time_ago_in_words(noise.created_at) %> ago</dd>
    
    <dd>
      <%= link_to 'Show', noise %>
      <%= link_to 'Edit', edit_noise_path(noise) %>
      <%= link_to 'Destroy', noise, method: :delete, data: { confirm: 'Are you sure?' } %>
    </dd>
  <% end %>
</dl>

<%= link_to 'New Noise', new_noise_path %>
