<%= render 'map', :noise => @noise %>

<%= render 'card_stack', :noise => @noise %>

<%= render 'admin/noises/card_addendum', :noise => @noise %>
<%= render 'admin/noises/actionable_card_addendum', :noise => @noise %>
<%= render 'admin/origins/card_addendum', :noise => @noise %>

<% unless @noises.empty? %>

  <div class="row">
    <div class="page-heading">
      <h2>
        Previously by <%= @noise.user_name %>
      </h2>
    </div>
  </div>

  <% @noises.each do |noise| %>
    <%= render 'card_stack', :noise => noise %>
  <% end %>

<% end %>