<p id="notice"><%= notice %></p>

<p>
  <b>Twitter Id:</b>
  <%= @noise.provider_id %>
</p>

<p>
  <b>User:</b>
  <%= @noise.user_name %>
</p>

<p>
  <b>Text:</b>
  <%= @noise.text %>
</p>

<p>
  <b>Coordinates longitude:</b>
  <%= @noise.longitude %>
</p>

<p>
  <b>Coordinates latitude:</b>
  <%= @noise.latitude %>
</p>


<% if user_signed_in? && current_user.has_role?(:admin) %>
  <%= link_to 'Edit', edit_noise_path(@noise) %> |
<% end %>

<%= link_to 'Back', noises_path %>