<% if can? :rank, noise %>
  <div class="card-addendum">
    <%= form_for [:admin, noise], :html => {:method => :put}, :namespace => noise.id, :remote => true do |f| %>

      <div class="btn-group" data-toggle="buttons-radio">

        <%= f.label :actionable, :class => ['btn', 'btn-default', (noise.actionablity_downvotable? ? '' : 'active')], value: false do %>
          <%= f.radio_button :actionable, false, :class => 'hidden', :data => { "form-trigger" => nil } %>
          <%= icon('thumbs-down') %> Downvote
        <% end %>

        <%= f.label :actionable, :class => ['btn', 'btn-default', (noise.actionablity_upvotable? ? '' : 'active')], value: true do %>
          <%= f.radio_button :actionable, true, :class => 'hidden', :data => { "form-trigger" => nil }  %>
          <%= icon('thumbs-up') %> Upvote
        <% end %>
      </div>

    <% end %>

  </div>
<% end %>
