<div class="docket">
  <h1>
    Noise
  </h1>
</div>

<div class="docket">
  <p>
    <b>Twitter Id:</b>
    <%= @noise.provider_id %>
  </p>

  <p>
    <b>User:</b>
    <%= @noise.user_name %>
  </p>

  <p>
    <b>Text:</b>
    <%= @noise.text %>
  </p>

</div>

<% if current_user_is_admin? %>
  <div class="docket">
    <%= link_to 'Origins', admin_noise_origins_path(@noise) %> |
    <%= link_to 'Edit', edit_admin_noise_path(@noise) %>
  </div>
<% end %>

<% if @noise.original.present? %>
  <div class="row">
    <div class="docket">
      <h2>Original</h2>
    </div>
    <pre>
      <%= @noise.original.pretty_dump %>
    </pre>
  </div>
<% end %>