<p id="notice"><%= notice %></p>

<p>
  <b>Twitter Id:</b>
  <%= @noise.provider_id %>
</p>

<p>
  <b>User:</b>
  <%= @noise.user_name %>
</p>

<p>
  <b>Text:</b>
  <%= @noise.text %>
</p>

<p>
  <b>Coordinates latitude:</b>
  <%= @noise.latitude %>
</p>

<p>
  <b>Coordinates longitude:</b>
  <%= @noise.longitude %>
</p>

<% if current_user_is_admin? %>
  <%= link_to 'Edit', edit_admin_noise_path(@noise) %> |
<% end %>