<% if user.has_coordinates? %>
  <%# TODO: set location for map %>
  <div id="map-user-<%= user.id %>"
    data-cartography-map 
    data-cartography-map-bounds="<%= JSON(user.map.boundaries) %>"
    data-cartography-map-center="<%= JSON(user.map.center) %>"
    data-cartography-map-zoom="<%= user.map.zoom %>"
    >
    <% user.locations.each do |location| %>
      <div data-cartography-map-marker
        data-cartography-map-marker-latitude="<%= location.latitude %>" 
        data-cartography-map-marker-longitude="<%= location.longitude %>"
      >
        <p>
          <%= link_to "Directions to " + user.name, location.directions_url, :target => "_blank" %>
        </p>
      </div>
    <% end %>
    <div data-cartography-map-panel id="map-panel-user-<%= user.id %>">
    </div>
  </div>
<% end %>