<% if user.latlngs? %>
  <%# TODO: set location for map %>
  <div id="map-user-<%= user.id %>"
    data-cartography-map
    data-cartography-map-bounds="<%= JSON(user.map.boundaries) %>"
    data-cartography-map-center="<%= JSON(user.map.center) %>"
    data-cartography-map-zoom="<%= user.map.zoom %>"
    data-cartography-map-scrollWheelZoom=false
    >

    <% if last_known_latlng.present? %>
      <div data-cartography-map-marker
        data-cartography-map-marker-latitude="<%= last_known_latlng.latitude %>"
        data-cartography-map-marker-longitude="<%= last_known_latlng.longitude %>"
        data-cartography-map-marker-track=true
        data-cartography-map-marker-awesome-icon="user"
        data-cartography-map-marker-awesome-markerColor="cadetblue"
        data-cartography-map-marker-awesome-markerColor-extraClasses="hidden"
      >
        <p>
          This is you!
        </p>
      </div>
    <% end %>

    <% user.locations.each do |location| %>
      <div data-cartography-map-marker
        data-cartography-map-marker-latitude="<%= location.latitude %>"
        data-cartography-map-marker-longitude="<%= location.longitude %>"
      >
        <p>
          <%= link_to "Directions to " + user.name, location.directions_url, :target => "_blank" %>
        </p>
      </div>
    <% end %>
    <div data-cartography-map-panel id="map-panel-user-<%= user.id %>">
    </div>
  </div>
<% end %>