<%= render '/admin/layouts/navigation' %>

<div class="docket">
  <h1>Users</h1>
  <ul class="nav nav-pills">
    <li>
      <%= link_to 'new user', new_admin_user_path %>
    </li>
    <li>
      <%= link_to 'triage', triage_admin_users_path %>
    </li>
  </ul>
</div>

<% @users.each do |user| %>
  <dl class="card">
    <dt>
      <%= link_to user.name, admin_user_path(user) %>
      <%= link_to user.provider_url, class: 'text-muted', target: '_blank' do %>
        <%= user.provider_screen_name %>
        <i class="provider-<%= user.provider.downcase %>"></i>
      <% end %>
    </dt>
    <dd>
      <%= link_to 'edit', edit_admin_user_path(:id => user) %>
    </dd>
    <dd><b>Provider Id:</b> <%= user.provider_id %></dd>
    <dd><b>Provider Access Token:</b> <%= user.provider_access_token %></dd>
    <dd><b>Provider Access Token Secret:</b> <%= user.provider_access_token_secret %></dd>
    <dd><b>Following:</b> <%= user.following? %></dd>
    <dd><b>Added:</b> <%= user.created_at %></dd>
    <dd>
      <b>Roles:</b> <%= user.roles.first.name.titleize unless user.roles.first.nil? %>
      <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-default btn-mini" type="button">Change role</a>
      <%= render user %>
      <%= link_to("Delete user", admin_user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-default btn-mini') unless user == current_user %>
    </dd>
    <dd>
      <b>Locations:</b>
      <% if user.locations_count > 0 %>
        <%= user.locations_count %>
      <% else %>
        <%= link_to 'add new location', new_admin_location_path(:user_id => user) %>
      <% end %>
    </dd>
    <dd>
      <b>
        <%= User.human_attribute_name( :mobile_venues_count ) %>
      </b>
      <%= user.mobile_venues_count %>
    </dd>
  </dl>
<% end %>
