<div class="docket">
  <h1>User</h1>
</div>

<div class="docket">
  <p>User: <%= @user.name %></p>
  <p>Email: <%= @user.email if @user.email %></p>
  <% if @user.provider_url %>
    <p>External: <%= link_to '@' + @user.provider_screen_name, @user.provider_url %></p>
  <% end %>
</div>

<div class="row">
  <div class="docket">
    <h2>Locations</h2>
  </div>
</div>

<div class="row">
  <%= render 'map', :user => @user %>
</div>

<div class="row">
  <% @user.locations.each do |location| %>
    <div class="docket">
      <p>
        <%= link_to location.id, admin_location_path(location) %>
        <%= location.full_street_address %>
        (
          <%= location.latitude %>
          ,
          <%= location.longitude %>
        )
      </p>
    </div>
  <% end %>

  <div class="docket">
    <%= link_to 'New Location', new_admin_location_path(:user_id => @user) %>
  </div>

</div>

<% if @user.original.present? %>
  <div class="row">
    <div class="docket">
      <h2>Original</h2>
    </div>
    <pre>
      <%= @user.original.pretty_dump %>
    </pre>
  </div>
<% end %>