<%= link_to "Sidewalks", root_path, :class => 'brand' %>
<ul class="nav">
  <li>
    <%= link_to 'Refresh', import_noises_path %>
  </li>
  <% if user_signed_in? %>
    <li>
      <%= link_to 'Sign Out', signout_path %>
    </li>
  <% else %>
    <li>
      <%= link_to 'Sign In', signin_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
      <li>
        <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% end %>
</ul>
