<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sidewalks" %>">

    <%= csrf_meta_tags %>
    <%= application_meta_tags %>

    <!-- android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black">
    <meta name="apple-mobile-web-app-title" content="Sidewalks">

    <title>
      <%= yield(:title) + ' - ' if title? %>Sidewalks
    </title>

    <%= render 'bugsnag/notifier' %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <%= render 'layouts/favicons' %>

    <%= yield(:head) %>

  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'google/analytics' %>
    <div class="header-navbar navbar navbar-static-top" data-headroom >
      <nav class="navbar-inner">
        <div class="container-fluid">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
    <div class="content">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <footer class="footer">
      <%= render 'layouts/secondary_navigation' %>
    </footer>
  </body>
</html>
